<div class="container mt-5">
  <h2>Quiz Monitoring</h2>

  <table class="table table-striped" *ngIf="dataToDisplay.length > 0">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Submission Status</th>
        <th scope="col">Total Questions Answered</th>
        <th scope="col">Total Correct Answered</th>
        <th scope="col">Submitted On</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of dataToDisplay">
        <td>{{ p.username }}</td>
        <td>{{ p?.submission_status }}</td>
        <td>{{ p?.total_question_answered }}</td>
        <td>{{ p?.total_correct_answer }}</td>
        <td>{{ p?.created_at }}</td>
      </tr>
    </tbody>
  </table>
</div>